* {
  /*border: 1px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.logo {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 15%;
  height: 50px;
  background-color: #AF0000;
}

.logo img {
  top: 0;
  height:50px;
  width: 50%;
}

/*********** Titlebar ***********/
.titlebar {
  top: 0;
  right: 0;
  position: fixed;
  width: 85%;
  height: 10%;
  background-color: #AF0000;
  font-family: 'Cabin', sans-serif;
  font-size: 75%;
  font-weight: 500;
}

.titlebar th {
  vertical-align: middle;
  line-height: 200%;
}

/*.titlebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.titlebar tr {
  vertical-align: middle;
  line-height: 50%;
  padding: 0% 5%;
}


.titlebar a {
  text-decoration: none;
  color: white;
  text-shadow: black 2px 2px;
  font-size: 100%;
}

.titlebar a:hover {
  text-decoration: underline;
}

/*********** Sidebar ***********/
.sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  width: 15%;
  background-color: #E00;
}

/*********** Main ***********/
.main {
  position: absolute;
  top: 50px;
  right: 0;
  width: 85%;
}
.main h1 {
  font-size:50%;
}

/* !!!! Cabin condensed for side bar, cabin for most things, lato for text !!! */
